@import "bootstrap-sprockets";
@import "bootstrap";

 body{
   background-color: lightblue;
   margin: 0 10%;
 }

.logo{
text-align: center;
}
.logo h1{
  margin: 0%;
  padding: 0%;
}
.logo p{
  font-size: 5pt;
}
.contact_info{
  font-size: 10px;
  color: white;
  padding: 20px;
  text-align: center;
}
#logo{
font-size: 20px;
float:right;
}
.flash-messages{
  font-size: 30px;
  color: #FFF333;
  font-weight: bold;
  padding: 20px;
}
.product_info{
  background-color: white;
  border-radius: 20pt;
  padding: 10%;
  text-align: center;
}
.page{
  border-radius: 20pt;
  background-color: white;
}
.description {
  font-size: 10pt;
  text-align: left;
  padding:0px 100px;
  font-family: 'Cabin', sans-serif;

}
.categorie, .made_in_america{
margin:0;
padding:5%;
text-align: center;
font-family: 'Comfortaa', cursive;
}
.categorie h1, .made_in_america h1, .most_reviews h1{
background-color: lightgrey;
font-family: 'Alfa Slab One', cursive;
border-bottom: thick double #32a1ce;

}
.categorie ul, .made_in_america ul{
list-style-type: none;
text-align: left;
}

.add_product{
margin-top: 10%;
font-size: 20px;
}
#empty_row{
  background-color: lightgrey;
}
